<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div id="page-wrapper">
      <div id="absolute-wrapper">
        <div class="rectangle rectangle-1 rectangle-2 rectangle-3 rectangle-6">
          <div class="image" align="middle"> 
          <%= image_tag "crave-simple.png" %>
          </div>
        <div class="rectangle rectangle-1 rectangle-2 rectangle-4"></div>
        <div class="dom-body-text paragraph paragraph-2">
          <p>Crave is the world first online healthy food finder</p>
        </div>
        <div class="rectangle rectangle-2 rectangle-3 rectangle-4 rectangle-5">
          <div class="dom-body-text paragraph">
            <p>Eating healthy can be difficult. It's easy to make something healthy at home but what about when you're eating out? There's so much to choose from and sooo much to drool over! Luckily, we cut through the fat and find you the leanest and yet tastiest
              dishes from restaurants around you to keep you fit and full!</p>
          </div>
          <button class="btn">Sign Up</button>
        </div>
        <h2 class="heading heading-1">Too busy to cook?&nbsp;</h2>
        <div class="rectangle rectangle-5">
          	<div class="image" align="middle">
          		<%= image_tag "steelhead.jpg" %>
      </div>
  </div>
      
        <div class="dom-body-text paragraph paragraph-3">
          <p>Working late nights or getting home too tired almost always end up in unhealthy food choices. Don't let takeaways, snacks and supermarket meals steer you off course from eating healthy.&nbsp;Crave was made for you! We're bringing healthy meals on wheels,
            wherever you are! We're going to launch soon to a select audience. Sign up now and the first to try!</p>
        </div>

                <div class="form-actions">
    			<button class='btn btn-large btn-1'>Get Started</button>
    			</div>


        <div class="rectangle rectangle-3 rectangle-4 rectangle-5 rectangle-7">
          <div class="rectangle rectangle-4">
          	<div class="image" align="middle">
          	<%= image_tag "diet2.png" %>
          </div>
     		</div>
          <h2 class="heading">Find the perfect meal</h2>
          <div class="dom-body-text paragraph">
            <p>It doesn't matter whether you're a herbivore, an omnivore or carnivore...we've got you covered! Simply find the meals that match your needs.</p>
          </div>
        </div>
        <div class="dom-body-text paragraph paragraph-1 paragraph-4">
          <p>@eatcrave</p>
        </div>
        <div class="dom-body-text paragraph paragraph-1 paragraph-5">
          <p>Crave</p>
        </div>
<i class="icon icon-twitter"></i>

<i class="icon icon-facebook-sign"></i>
      </div>
    </div>

